.App {
  width: 100%;
  text-align: center;
}
.Form {
  width: 60%;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  box-sizing:  border-box;
}